[user]
	name = Bill Murphy
	email = billpmurphy92@gmail.com
[github]
	user = billpmurphy
[color]
    ui = auto
[core]
    editor = vim
    excludesfile = ~/.gitignore
[diff]
    tool = vimdiff
[alias]
    last = log -l HEAD
    l = log --all --graph --decorate --oneline --abbrev-commit
    st = status -sb
[push]
	default = simple
