[user]
    name = billpmurphy
    email = billpmurphy92@gmail.com
[github]
    user = billpmurphy
[color]
    ui = auto
[core]
    editor = vim
    excludes = ~/.gitignore
[diff]
    tool = vimdiff
    default = matching
[alias]
    l = log --color --graph

