[alias]
    l = log --all --graph --decorate --oneline --abbrev-commit
    st = status -sb
[color]
    ui = auto
[core]
    editor = vim
    excludes = ~/.gitignore
[diff]
    tool = vimdiff
    default = matching
[github]
    user = billpmurphy
[push]
    default = simple
[user]
    name = billpmurphy
    email = billpmurphy92@gmail.com
